In [137]:
import os
import re
import glob
import csv
import pandas as pd
from collections import Counter

In [54]:
#os.chdir('/Users/emilyyeh/Documents/MACS 30122/final-project-team/')

In [164]:
def collect_cultural_categories(restaurants_folder):
    os.chdir(restaurants_folder)
    restaurants_files = glob.glob('*.{}'.format('csv'))
    category_names = set()
    restaurants_all = pd.DataFrame()
    for file in restaurants_files: 
        restaurants = pd.read_csv(file)
        restaurants['category'] = restaurants['category'].apply(lambda x: re.findall(r'\w+\s?\w+', x))
        restaurants_all = restaurants_all.append(restaurants, ignore_index=False)
        for category in restaurants['category']:
            category_names.update(category)
    return restaurants_all, category_names

In [228]:
restaurants_folder = '/Users/emilyyeh/Documents/MACS 30122/final-project-team/Trip Advisor Data/restaurants'
restaurants_all, category_names = collect_cultural_categories(restaurants_folder)
category_names

{'American',
 'Argentinean',
 'Asian',
 'Austrian',
 'Bakeries',
 'Bar',
 'Barbecue',
 'Belgian',
 'Brew Pub',
 'British',
 'Cafe',
 'Cajun',
 'Cantonese',
 'Caribbean',
 'Central American',
 'Chinese',
 'Contemporary',
 'Creole',
 'Croatian',
 'Deli',
 'Dessert',
 'Diner',
 'Dutch',
 'Eastern European',
 'Egyptian',
 'European',
 'Fast Food',
 'Filipino',
 'French',
 'Fusion',
 'Gastropub',
 'German',
 'Gluten Free',
 'Greek',
 'Grill',
 'Halal',
 'Hawaiian',
 'Healthy',
 'Hong Kong',
 'Hunan',
 'Indian',
 'International',
 'Irish',
 'Israeli',
 'Italian',
 'Jamaican',
 'Japanese',
 'Korean',
 'Kosher',
 'Latin',
 'Lazio',
 'Lebanese',
 'Market',
 'Mediterranean',
 'Mexican',
 'Middle Eastern',
 'Nepali',
 'Options',
 'Persian',
 'Peruvian',
 'Pizza',
 'Polish',
 'Polynesian',
 'Portuguese',
 'Pub',
 'Quick Bites',
 'Romana',
 'Russian',
 'Scandinavian',
 'Seafood',
 'Shanghai',
 'Soups',
 'South American',
 'Southwestern',
 'Spanish',
 'Specialty Food',
 'Steakhouse',
 'Sushi',
 'Swedish',
 'Szechuan',
 'Thai',
 'Turkish',
 'Tuscan',
 'Ukrainian',
 'Vegan Options',
 'Vegetarian Friendly',
 'Vietnamese',
 'Wine Bar'}

In [64]:
#Manually delete unwanted categories
cultural_categories = set([
    'American', 'Argentinean', 'Asian', 'Austrian', 'Belgian', 'British',
    'Cajun', 'Cantonese', 'Caribbean', 'Central American', 'Chinese', 'Creole', 'Croatian',
    'Dutch', 'Eastern European', 'Egyptian', 'European', 'Filipino', 'French',
    'German', 'Greek', 'Halal', 'Hawaiian', 'HongKong', 'Hunan', 
    'Indian', 'Irish', 'Israeli', 'Italian', 'Jamaican', 'Japanese', 'Korean', 'Kosher',
    'Latin', 'Lazio', 'Lebanese', 'Mediterranean', 'Mexican', 'Middle Eastern', 'Nepali', 
    'Persian', 'Peruvian', 'Polish', 'Polynesian', 'Portuguese', 'Romana', 'Russian', 
    'Scandinavian', 'Shanghai', 'South American', 'Southwestern', 'Spanish', 'Swedish', 'Szechuan',
    'Thai', 'Turkish', 'Tuscan', 'Ukrainian', 'Vietnamese'])
#Manually add desireded categories accordingly
cultural_categories.update([
    'America', 'Argentina', 'Asia', 'Austria', 'Belgium', 'Britan',
    'China', 'Croatia',
    'Netherlands', 'Europe', 'Egypt', 'Philippines', 'France',
    'Germany', 'Greece', 'Hawaii',
    'India', 'Ireland', 'Isareal', 'Italy', 'Jamaica', 'Japane', 'Korea', 
    'Latino', 'Lebanon', 'Mexico', 'Nepal', 
    'Peru', 'Poland', 'Polynesia', 'Portugal', 'Roman', 'Russia', 
    'Scandinavia', 'Spain', 'Sweden', 'Thailand', 'Tuscany', 'Ukrain', 'Vietnam'])

In [108]:
cultural_dict = {
    'American' : ['American', 'America'],
    'Argentinean' : ['Argentinean', 'Argentina'], 
    'Asian' : ['Asian', 'Asia'], 
    'Austrian' : ['Austrian', 'Austria'],
    'Belgian' : ['Belgian', 'Belgium'], 
    'British' : ['British', 'Britan'],
    'Cajun' : ['Cajun'], 
    'Cantonese' : ['Cantonese'], 
    'Caribbean' : ['Caribbean'], 
    'Central American' : ['America'], 
    'Chinese' : ['Chinese', 'China'], 
    'Creole' : ['Creole'], 
    'Croatian' : ['Croatian', 'Croatia'],
    'Dutch' : ['Dutch', 'Netherlands'], 
    'Eastern European' : ['Europe'], 
    'Egyptian' : ['Egyptian', 'Egypt'], 
    'European' : ['European', 'Europe'], 
    'Filipino' : ['Filipino', 'Philippines'], 
    'French' : ['French'],
    'German' : ['German', 'Germany'], 
    'Greek' : ['Greek', 'Greece'], 
    'Halal' : ['Halal'], 
    'Hawaiian' : ['Hawaiian', 'Hawaii'], 
    'Hong Kong' : ['HongKong', 'Hong'], 
    'Hunan' : ['Hunan'], 
    'Indian' : ['Indian', 'India'], 
    'Irish' : ['Irish', 'Ireland'], 
    'Israeli' : ['Israeli', 'Isarel'], 
    'Italian' : ['Italian', 'Italy'], 
    'Jamaican' : ['Jamaican', 'Jamaica'], 
    'Japanese' : ['Japanese', 'Japan'], 
    'Korean' : ['Korean', 'Korea'], 
    'Kosher' : ['Kosher'],
    'Latin' : ['Latin', 'Latino'], 
    'Lazio' : ['Lazio'], 
    'Lebanese' : ['Lebanese', 'Lebanon'], 
    'Mediterranean' : ['Mediterranean'], 
    'Mexican' : ['Mexican', 'Mexico'], 
    'Middle Eastern' : [], 
    'Nepali' : ['Nepali', 'Nepal'], 
    'Persian' : ['Persian'], 
    'Peruvian' : ['Peruvian', 'Peru'], 
    'Polish' : ['Polish', 'Poland'], 
    'Polynesian' : ['Polynesian', 'Polynesia'], 
    'Portuguese' : ['Portuguese', 'Portugal'], 
    'Romana' : ['Romana', 'Roman'], 
    'Russian' : ['Russian', 'Russia'], 
    'Scandinavian' : ['Scandinavian', 'Scandinavia'], 
    'Shanghai' : [], 
    'South American' : ['American', 'America'], 
    'Southwestern' : ['Southwestern', 'Southwest'], 
    'Spanish' : ['Spanish', 'Spain', 'Hispanic'], 
    'Swedish' : ['Swedish', 'Sweden'], 
    'Szechuan' : ['Szechuan'],
    'Thai' : ['Thai', 'Thailand'], 
    'Turkish' : ['Turkish', 'Turkey'], 
    'Tuscan' : ['Tuscan', 'Tuscany'], 
    'Ukrainian' : ['Ukrainian', 'Ukraine'], 
    'Vietnamese' : ['Vietnamese', 'Vietnam']}

In [111]:
#Lowercase the cultural_dict
cultural_dict = dict((k, [w.lower() for w in v]) for k,v in cultural_dict.items())

In [230]:
def review_words(reviews_folder, restaurant_all):
    os.chdir(reviews_folder)
    reviews_files = glob.glob('*.{}'.format('csv'))
    review_cats = pd.DataFrame()
    for file in reviews_files:
        reviews = pd.read_csv(file)
        review_cat = reviews.groupby(['link'])['review'].apply(','.join).reset_index()
        review_cat['review'] = review_cat['review']\
                        .apply(lambda x: re.findall(r"[a-z]\w+", x.lower()))
        review_cat['word_count'] = review_cat['review'].apply(lambda x: len(x))
        review_cat['review'] = review_cat['review'].apply(lambda x: dict(Counter(x)))
        review_cats = review_cats.append(review_cat, ignore_index=False)
    return restaurants_all.merge(review_cats)

In [232]:
restaurants_all = review_words(reviews_folder, restaurants_all)
restaurants_all.head()

,restaurant_name,link,price_class,price_range,category,michelin,ranking,avg_rating,food_rating,service_rating,value_rating,atmosphere_rating,review_count,rate5_count,rate4_count,rate3_count,rate2_count,rate1_count,review,word_count
0,Bryn Mawr Breakfast Club,https://www.tripadvisor.com/Restaurant_Review-...,2.5,[],"[American, Cafe, Vegetarian Friendly]",False,363,4,NaN,NaN,NaN,NaN,67,46,15,6,0,0,"{'for': 93, 'pair': 2, 'of': 160, 'year': 6, '...",9631
1,Tre Kronor,https://www.tripadvisor.com/Restaurant_Review-...,2.5,[],"[European, Swedish, Scandinavian]",False,19,4,4.5,4.5,4.5,4.5,142,83,37,9,2,5,"{'being': 11, 'swedish': 115, 'came': 12, 'to'...",11486
2,Via Veneto Ristorante,https://www.tripadvisor.com/Restaurant_Review-...,2.5,"[30, 30]","[Italian, Vegetarian Friendly]",False,195,4,4.5,5.0,4.5,4.5,47,22,17,5,0,2,"{'via': 31, 'veneto': 31, 'ristorante': 6, 'ha...",3934
3,Hoanh Long Vietnamese & Chinese Restaurant,https://www.tripadvisor.com/Restaurant_Review-...,1.0,[],"[Chinese, Asian, Vietnamese]",False,53,4,4.5,4.0,4.5,4.5,22,9,11,2,0,0,"{'choose': 2, 'the': 112, 'hot': 5, 'pot': 3, ...",1818
4,Martino's,https://www.tripadvisor.com/Restaurant_Review-...,2.5,[],"[Italian, Pizza, Vegetarian Friendly]",False,1,4,NaN,NaN,NaN,NaN,20,10,6,4,0,0,"{'we': 51, 'like': 15, 'to': 50, 'come': 3, 'm...",2378

In [233]:
restaurants_all.shape

(814, 20)

In [234]:
def culture_score(restaurants_all):
    culture_word_col = []
    for i in range(restaurants_all.shape[0]):
        cultural_words = []
        culture_score = 0
        for category in restaurants_all['category'][i]:
            if category in cultural_dict.keys():
                cultural_words.extend(cultural_dict[category])
        for word in cultural_words:
            if word in restaurants_all['review'][i].keys():
                culture_score += restaurants_all['review'][i][word]
        culture_word_col.append(culture_score)
    restaurants_all['culture_word_count'] = culture_word_col

In [235]:
culture_score(restaurants_all)
restaurants_all.head()

,restaurant_name,link,price_class,price_range,category,michelin,ranking,avg_rating,food_rating,service_rating,...,atmosphere_rating,review_count,rate5_count,rate4_count,rate3_count,rate2_count,rate1_count,review,word_count,culture_word_count
0,Bryn Mawr Breakfast Club,https://www.tripadvisor.com/Restaurant_Review-...,2.5,[],"[American, Cafe, Vegetarian Friendly]",False,363,4,NaN,NaN,...,NaN,67,46,15,6,0,0,"{'for': 93, 'pair': 2, 'of': 160, 'year': 6, '...",9631,2
1,Tre Kronor,https://www.tripadvisor.com/Restaurant_Review-...,2.5,[],"[European, Swedish, Scandinavian]",False,19,4,4.5,4.5,...,4.5,142,83,37,9,2,5,"{'being': 11, 'swedish': 115, 'came': 12, 'to'...",11486,146
2,Via Veneto Ristorante,https://www.tripadvisor.com/Restaurant_Review-...,2.5,"[30, 30]","[Italian, Vegetarian Friendly]",False,195,4,4.5,5.0,...,4.5,47,22,17,5,0,2,"{'via': 31, 'veneto': 31, 'ristorante': 6, 'ha...",3934,38
3,Hoanh Long Vietnamese & Chinese Restaurant,https://www.tripadvisor.com/Restaurant_Review-...,1.0,[],"[Chinese, Asian, Vietnamese]",False,53,4,4.5,4.0,...,4.5,22,9,11,2,0,0,"{'choose': 2, 'the': 112, 'hot': 5, 'pot': 3, ...",1818,19
4,Martino's,https://www.tripadvisor.com/Restaurant_Review-...,2.5,[],"[Italian, Pizza, Vegetarian Friendly]",False,1,4,NaN,NaN,...,NaN,20,10,6,4,0,0,"{'we': 51, 'like': 15, 'to': 50, 'come': 3, 'm...",2378,16

In [237]:
os.chdir('/Users/emilyyeh/Documents/MACS 30122/final-project-team/')
restaurants_all.to_csv('restaurants_all.csv')