In [1]:
import csv
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.iolib.summary2 import summary_col

# Analysis for TripAdvisor

In [2]:
# Import the TripAdvisor file for regression analysis
df = pd.read_csv('reg.csv')
df.head()

,restaurant_name,link,price_range,category,michelin,ranking,avg_rating,food_rating,service_rating,value_rating,...,authentity_score,review,word_count,culture_word_count,culture_score,is_cul_neighborhood,is_match_culture,catergory_num,price_class_2.5,price_class_4.0
0,Bryn Mawr Breakfast Club,https://www.tripadvisor.com/Restaurant_Review-...,[],"['american', 'cafe', 'vegetarian friendly']",0,363,4,NaN,NaN,NaN,...,59.025974,"{'for': 93, 'pair': 2, 'of': 160, 'year': 6, '...",9631,2,0.000208,0,0,3,1,0
1,Tre Kronor,https://www.tripadvisor.com/Restaurant_Review-...,[],"['european', 'swedish', 'scandinavian']",0,19,4,4.5,4.5,4.5,...,65.488372,"{'being': 11, 'swedish': 115, 'came': 12, 'to'...",11486,146,0.012711,0,0,3,1,0
2,Via Veneto Ristorante,https://www.tripadvisor.com/Restaurant_Review-...,"[30, 30]","['italian', 'vegetarian friendly']",0,195,4,4.5,5.0,4.5,...,66.220000,"{'via': 31, 'veneto': 31, 'ristorante': 6, 'ha...",3934,38,0.009659,0,0,2,1,0
3,Hoanh Long Vietnamese & Chinese Restaurant,https://www.tripadvisor.com/Restaurant_Review-...,[],"['chinese', 'asian', 'vietnamese']",0,53,4,4.5,4.0,4.5,...,63.533333,"{'choose': 2, 'the': 112, 'hot': 5, 'pot': 3, ...",1818,19,0.010451,0,0,3,0,0
4,Martino's,https://www.tripadvisor.com/Restaurant_Review-...,[],"['italian', 'pizza', 'vegetarian friendly']",0,1,4,NaN,NaN,NaN,...,68.312500,"{'we': 51, 'like': 15, 'to': 50, 'come': 3, 'm...",2378,16,0.006728,0,0,3,1,0

In [3]:
# Drop missing values (673 rows)
df= df.dropna(subset=['avg_rating', 'authentity_score', 
                    'culture_score', 
                     'michelin', 'review_count','is_cul_neighborhood',
                     'is_match_culture', 'catergory_num'])
df = df.reset_index(drop=True)

# Change the type of variables to a suitable type (e.g., object to integer)
df['avg_rating'] = pd.to_numeric(df['avg_rating'],errors='coerce')
df['review_count'] = pd.to_numeric(df['review_count'],errors='coerce')
df['food_rating'] = pd.to_numeric(df['atmosphere_rating'],errors='coerce')

df.head()

,restaurant_name,link,price_range,category,michelin,ranking,avg_rating,food_rating,service_rating,value_rating,...,authentity_score,review,word_count,culture_word_count,culture_score,is_cul_neighborhood,is_match_culture,catergory_num,price_class_2.5,price_class_4.0
0,Bryn Mawr Breakfast Club,https://www.tripadvisor.com/Restaurant_Review-...,[],"['american', 'cafe', 'vegetarian friendly']",0,363,4,NaN,NaN,NaN,...,59.025974,"{'for': 93, 'pair': 2, 'of': 160, 'year': 6, '...",9631,2,0.000208,0,0,3,1,0
1,Tre Kronor,https://www.tripadvisor.com/Restaurant_Review-...,[],"['european', 'swedish', 'scandinavian']",0,19,4,4.5,4.5,4.5,...,65.488372,"{'being': 11, 'swedish': 115, 'came': 12, 'to'...",11486,146,0.012711,0,0,3,1,0
2,Via Veneto Ristorante,https://www.tripadvisor.com/Restaurant_Review-...,"[30, 30]","['italian', 'vegetarian friendly']",0,195,4,4.5,5.0,4.5,...,66.220000,"{'via': 31, 'veneto': 31, 'ristorante': 6, 'ha...",3934,38,0.009659,0,0,2,1,0
3,Hoanh Long Vietnamese & Chinese Restaurant,https://www.tripadvisor.com/Restaurant_Review-...,[],"['chinese', 'asian', 'vietnamese']",0,53,4,4.5,4.0,4.5,...,63.533333,"{'choose': 2, 'the': 112, 'hot': 5, 'pot': 3, ...",1818,19,0.010451,0,0,3,0,0
4,Martino's,https://www.tripadvisor.com/Restaurant_Review-...,[],"['italian', 'pizza', 'vegetarian friendly']",0,1,4,NaN,NaN,NaN,...,68.312500,"{'we': 51, 'like': 15, 'to': 50, 'come': 3, 'm...",2378,16,0.006728,0,0,3,1,0

In [4]:
# Create a correlation matrix
columns = ['ranking', 'service_rating', 'value_rating','atmosphere_rating',
          'rate5_count', 'rate4_count', 'rate3_count', 'rate2_count','rate1_count',
          'word_count', 'culture_word_count', 'culture_score', 'catergory_num']
df.drop(columns,axis=1, inplace=True)
corrMatrix = df.corr()
corrMatrix

,michelin,avg_rating,food_rating,review_count,authentity_score,is_cul_neighborhood,is_match_culture,price_class_2.5,price_class_4.0
michelin,1.000000,0.138762,-0.061368,0.228438,-0.050176,0.066565,0.033986,0.021464,0.304375
avg_rating,0.138762,1.000000,0.343172,0.058361,0.019879,0.082853,0.027978,-0.049562,0.095332
food_rating,-0.061368,0.343172,1.000000,-0.035681,0.170849,0.188969,0.029576,-0.122581,-0.115729
review_count,0.228438,0.058361,-0.035681,1.000000,0.039408,-0.136425,-0.022129,0.081172,0.190715
authentity_score,-0.050176,0.019879,0.170849,0.039408,1.000000,0.149874,0.234223,-0.114925,-0.080133
is_cul_neighborhood,0.066565,0.082853,0.188969,-0.136425,0.149874,1.000000,0.343460,-0.033478,-0.082351
is_match_culture,0.033986,0.027978,0.029576,-0.022129,0.234223,0.343460,1.000000,-0.055513,-0.067482
price_class_2.5,0.021464,-0.049562,-0.122581,0.081172,-0.114925,-0.033478,-0.055513,1.000000,-0.351646
price_class_4.0,0.304375,0.095332,-0.115729,0.190715,-0.080133,-0.082351,-0.067482,-0.351646,1.000000

# Regression (1) - DV: avg_rating

In [37]:
# Model 1: baseline model- authenticity score and avg_rating

X = df[['authentity_score']] 
y = df['avg_rating']
X = sm.add_constant(X)

model1 = sm.OLS(y, X).fit()

print_model= model1.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:             avg_rating   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.001
Method:                 Least Squares   F-statistic:                    0.2653
Date:                Tue, 08 Mar 2022   Prob (F-statistic):              0.607
Time:                        18:03:31   Log-Likelihood:                -214.10
No. Observations:                 673   AIC:                             432.2
Df Residuals:                     671   BIC:                             441.2
Df Model:                           1
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const                3.8955      0.111     35.006      0.000       3.677       4.114
authentity_score     0.0009      0.002      0.515      0.607      -0.003       0.004
==============================================================================
Omnibus:                      198.489   Durbin-Watson:                   1.576
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1480.122
Skew:                          -1.107   Prob(JB):                         0.00
Kurtosis:                       9.920   Cond. No.                         534.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [38]:
# Model 2: authenticity score + control variables

X = df[['authentity_score', 'price_class_2.5', 'price_class_4.0', 'michelin', 
        'review_count']] 
y = df['avg_rating']
X = sm.add_constant(X)

model2 = sm.OLS(y, X).fit()

print_model = model2.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:             avg_rating   R-squared:                       0.025
Model:                            OLS   Adj. R-squared:                  0.017
Method:                 Least Squares   F-statistic:                     3.383
Date:                Tue, 08 Mar 2022   Prob (F-statistic):            0.00502
Time:                        18:03:31   Log-Likelihood:                -205.80
No. Observations:                 673   AIC:                             423.6
Df Residuals:                     667   BIC:                             450.7
Df Model:                           5
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const                3.8808      0.118     32.886      0.000       3.649       4.113
authentity_score     0.0011      0.002      0.624      0.533      -0.002       0.005
price_class_2.5     -0.0269      0.031     -0.861      0.390      -0.088       0.034
price_class_4.0      0.0677      0.070      0.961      0.337      -0.071       0.206
michelin             0.1427      0.048      2.972      0.003       0.048       0.237
review_count      7.244e-05      0.000      0.605      0.545      -0.000       0.000
==============================================================================
Omnibus:                      201.253   Durbin-Watson:                   1.609
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1363.709
Skew:                          -1.156   Prob(JB):                    7.49e-297
Kurtosis:                       9.579   Cond. No.                     1.33e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.33e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [39]:
# Model 3: cultural neighborhood added

X = df[['authentity_score', 
        'price_class_2.5', 'price_class_4.0', 'michelin', 'review_count',
       'is_cul_neighborhood']] 
y = df['avg_rating']
X = sm.add_constant(X)

model3 = sm.OLS(y, X).fit()

print_model = model3.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:             avg_rating   R-squared:                       0.031
Model:                            OLS   Adj. R-squared:                  0.022
Method:                 Least Squares   F-statistic:                     3.551
Date:                Tue, 08 Mar 2022   Prob (F-statistic):            0.00181
Time:                        18:03:32   Log-Likelihood:                -203.63
No. Observations:                 673   AIC:                             421.3
Df Residuals:                     666   BIC:                             452.8
Df Model:                           6
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                   3.8876      0.118     33.012      0.000       3.656       4.119
authentity_score        0.0006      0.002      0.305      0.760      -0.003       0.004
price_class_2.5        -0.0244      0.031     -0.782      0.434      -0.086       0.037
price_class_4.0         0.0805      0.071      1.141      0.254      -0.058       0.219
michelin                0.1294      0.048      2.677      0.008       0.034       0.224
review_count            0.0001      0.000      0.907      0.365      -0.000       0.000
is_cul_neighborhood     0.0547      0.026      2.076      0.038       0.003       0.107
==============================================================================
Omnibus:                      201.821   Durbin-Watson:                   1.616
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1318.918
Skew:                          -1.172   Prob(JB):                    3.99e-287
Kurtosis:                       9.445   Cond. No.                     1.33e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.33e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [40]:
# Model 4: is_match_culture added

X = df[['authentity_score', 
        'price_class_2.5', 'price_class_4.0', 'michelin', 'review_count',
       'is_cul_neighborhood', 'is_match_culture']] 
y = df['avg_rating']
X = sm.add_constant(X)

model4 = sm.OLS(y, X).fit()

print_model = model4.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:             avg_rating   R-squared:                       0.031
Model:                            OLS   Adj. R-squared:                  0.021
Method:                 Least Squares   F-statistic:                     3.041
Date:                Tue, 08 Mar 2022   Prob (F-statistic):            0.00372
Time:                        18:03:32   Log-Likelihood:                -203.63
No. Observations:                 673   AIC:                             423.3
Df Residuals:                     665   BIC:                             459.3
Df Model:                           7
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                   3.8852      0.120     32.505      0.000       3.650       4.120
authentity_score        0.0006      0.002      0.323      0.747      -0.003       0.004
price_class_2.5        -0.0246      0.031     -0.786      0.432      -0.086       0.037
price_class_4.0         0.0800      0.071      1.131      0.258      -0.059       0.219
michelin                0.1296      0.048      2.678      0.008       0.035       0.225
review_count            0.0001      0.000      0.909      0.364      -0.000       0.000
is_cul_neighborhood     0.0558      0.028      2.009      0.045       0.001       0.110
is_match_culture       -0.0060      0.049     -0.122      0.903      -0.103       0.091
==============================================================================
Omnibus:                      201.332   Durbin-Watson:                   1.617
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1318.172
Skew:                          -1.168   Prob(JB):                    5.79e-287
Kurtosis:                       9.446   Cond. No.                     1.35e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.35e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [42]:
# Create a regression table
dfoutput = summary_col([model1,model2,model3,model4],stars=True, regressor_order=['authentity_score', 'michelin',
                                                                                 'price_class_2.5', 'price_class_4.0',
                                                                                 'review_count', 'is_cul_neighborhood',
                                                                                 'is_match_culture'])
print(dfoutput)

=============================================================================
                    avg_rating I avg_rating II avg_rating III avg_rating IIII
-----------------------------------------------------------------------------
authentity_score    0.0009       0.0011        0.0006         0.0006
                    (0.0018)     (0.0018)      (0.0018)       (0.0019)
michelin                         0.1427***     0.1294***      0.1296***
                                 (0.0480)      (0.0483)       (0.0484)
price_class_2.5                  -0.0269       -0.0244        -0.0246
                                 (0.0313)      (0.0312)       (0.0313)
price_class_4.0                  0.0677        0.0805         0.0800
                                 (0.0704)      (0.0705)       (0.0707)
review_count                     0.0001        0.0001         0.0001
                                 (0.0001)      (0.0001)       (0.0001)
is_cul_neighborhood                            0.0547**       0.0558**
                                               (0.0264)       (0.0278)
is_match_culture                                              -0.0060
                                                              (0.0493)
const               3.8955***    3.8808***     3.8876***      3.8852***
                    (0.1113)     (0.1180)      (0.1178)       (0.1195)
R-squared           0.0004       0.0247        0.0310         0.0310
R-squared Adj.      -0.0011      0.0174        0.0223         0.0208
=============================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

Do authentic restaurants get higher ratings?

No, the results show no significant correlations between authenticity score and restaurant average ratings.

As shown in models 3 and 4, when the restaurant is located in a cultural neighborhood, there is a significant positive relationship with higher average ratings. Given that it is located in a cultural neighborhood, serving culturally match cuisine has little explanatory power to the average ratings.

# Regression (2) - DV: food_rating

In [43]:
# Drop missing values in food_rating
df= df.dropna(subset=['food_rating'])
df = df.reset_index(drop=True) #349 rows left
df

,restaurant_name,link,price_range,category,michelin,avg_rating,food_rating,review_count,cultural_neighborhood,authentity_score,review,is_cul_neighborhood,is_match_culture,price_class_2.5,price_class_4.0
0,Tre Kronor,https://www.tripadvisor.com/Restaurant_Review-...,[],"['european', 'swedish', 'scandinavian']",0,4,4.5,142,None,65.488372,"{'being': 11, 'swedish': 115, 'came': 12, 'to'...",0,0,1,0
1,Via Veneto Ristorante,https://www.tripadvisor.com/Restaurant_Review-...,"[30, 30]","['italian', 'vegetarian friendly']",0,4,4.5,47,None,66.220000,"{'via': 31, 'veneto': 31, 'ristorante': 6, 'ha...",0,0,1,0
2,Hoanh Long Vietnamese & Chinese Restaurant,https://www.tripadvisor.com/Restaurant_Review-...,[],"['chinese', 'asian', 'vietnamese']",0,4,4.5,22,None,63.533333,"{'choose': 2, 'the': 112, 'hot': 5, 'pot': 3, ...",0,0,0,0
3,Mee Mah,https://www.tripadvisor.com/Restaurant_Review-...,[],"['chinese', 'asian', 'cantonese']",0,4,4.0,22,None,58.625000,"{'few': 1, 'evenings': 1, 'ago': 2, 'we': 24, ...",0,0,1,0
4,Midori Japanese Restaurant,https://www.tripadvisor.com/Restaurant_Review-...,[],"['japanese', 'sushi', 'asian']",0,4,4.0,22,None,63.388889,"{'wonderful': 2, 'tempura': 15, 'but': 25, 'of...",0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,Dusek's Board & Beer,https://www.tripadvisor.com/Restaurant_Review-...,[],"['american', 'bar', 'vegetarian friendly']",1,4,4.0,177,mexican,58.444444,"{'everything': 16, 'was': 265, 'delicious': 33...",1,0,1,0
345,Honky Tonk BBQ,https://www.tripadvisor.com/Restaurant_Review-...,[],"['american', 'bar', 'barbecue']",0,4,4.0,96,mexican,66.600000,"{'firstly': 2, 'the': 269, 'cornbread': 3, 'mu...",1,0,1,0
346,Taqueria El Milagro,https://www.tripadvisor.com/Restaurant_Review-...,[],"['quick bites', 'mexican', 'latin']",0,4,4.5,34,mexican,71.250000,"{'ve': 3, 'been': 6, 'going': 3, 'to': 36, 'th...",1,1,0,0
347,Simone's,https://www.tripadvisor.com/Restaurant_Review-...,"[5, 15]","['bar', 'international']",0,4,4.0,20,mexican,55.181818,"{'went': 4, 'for': 17, 'lunch': 2, 'on': 17, '...",1,0,0,0
348,May St. Cafe,https://www.tripadvisor.com/Restaurant_Review-...,"[20, 40]","['latin', 'spanish']",0,4,4.0,19,mexican,61.000000,"{'friend': 4, 'suggested': 2, 'we': 34, 'go': ...",1,0,1,0

In [44]:
# Model 1: baseline model - authenticity score and food_rating

X = df[['authentity_score']] 
y = df['food_rating']
X = sm.add_constant(X)

model1 = sm.OLS(y, X).fit()

print_model = model1.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:            food_rating   R-squared:                       0.029
Model:                            OLS   Adj. R-squared:                  0.026
Method:                 Least Squares   F-statistic:                     10.43
Date:                Tue, 08 Mar 2022   Prob (F-statistic):            0.00136
Time:                        18:05:17   Log-Likelihood:                -110.65
No. Observations:                 349   AIC:                             225.3
Df Residuals:                     347   BIC:                             233.0
Df Model:                           1
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const                3.5342      0.181     19.476      0.000       3.177       3.891
authentity_score     0.0094      0.003      3.230      0.001       0.004       0.015
==============================================================================
Omnibus:                        1.691   Durbin-Watson:                   1.775
Prob(Omnibus):                  0.429   Jarque-Bera (JB):                1.781
Skew:                          -0.151   Prob(JB):                        0.410
Kurtosis:                       2.822   Cond. No.                         633.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [45]:
# Model 2: baseline model + control variables

X = df[['authentity_score', 'price_class_2.5', 'price_class_4.0', 'michelin', 
        'review_count']] 
y = df['food_rating']
X = sm.add_constant(X)

model2 = sm.OLS(y, X).fit()

print_model = model2.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:            food_rating   R-squared:                       0.068
Model:                            OLS   Adj. R-squared:                  0.054
Method:                 Least Squares   F-statistic:                     5.006
Date:                Tue, 08 Mar 2022   Prob (F-statistic):           0.000193
Time:                        18:05:26   Log-Likelihood:                -103.53
No. Observations:                 349   AIC:                             219.1
Df Residuals:                     343   BIC:                             242.2
Df Model:                           5
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const                3.7816      0.192     19.670      0.000       3.403       4.160
authentity_score     0.0076      0.003      2.616      0.009       0.002       0.013
price_class_2.5     -0.1568      0.050     -3.167      0.002      -0.254      -0.059
price_class_4.0     -0.3129      0.104     -2.998      0.003      -0.518      -0.108
michelin             0.0011      0.069      0.015      0.988      -0.134       0.136
review_count      1.474e-05      0.000      0.110      0.913      -0.000       0.000
==============================================================================
Omnibus:                        2.199   Durbin-Watson:                   1.792
Prob(Omnibus):                  0.333   Jarque-Bera (JB):                2.279
Skew:                          -0.183   Prob(JB):                        0.320
Kurtosis:                       2.847   Cond. No.                     2.04e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.04e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [46]:
# Model 3: cultural neighborhood added

X = df[['authentity_score', 'price_class_2.5', 'price_class_4.0',
        'michelin', 
        'review_count', 'is_cul_neighborhood']] 
y = df['food_rating']
X = sm.add_constant(X)

model3 = sm.OLS(y, X).fit()

print_model = model3.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:            food_rating   R-squared:                       0.089
Model:                            OLS   Adj. R-squared:                  0.073
Method:                 Least Squares   F-statistic:                     5.546
Date:                Tue, 08 Mar 2022   Prob (F-statistic):           1.67e-05
Time:                        18:05:26   Log-Likelihood:                -99.618
No. Observations:                 349   AIC:                             213.2
Df Residuals:                     342   BIC:                             240.2
Df Model:                           6
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                   3.8411      0.192     20.049      0.000       3.464       4.218
authentity_score        0.0057      0.003      1.925      0.055      -0.000       0.012
price_class_2.5        -0.1508      0.049     -3.073      0.002      -0.247      -0.054
price_class_4.0        -0.2879      0.104     -2.775      0.006      -0.492      -0.084
michelin               -0.0294      0.069     -0.427      0.669      -0.165       0.106
review_count         8.849e-05      0.000      0.652      0.515      -0.000       0.000
is_cul_neighborhood     0.1029      0.037      2.785      0.006       0.030       0.176
==============================================================================
Omnibus:                        2.059   Durbin-Watson:                   1.826
Prob(Omnibus):                  0.357   Jarque-Bera (JB):                1.986
Skew:                          -0.117   Prob(JB):                        0.370
Kurtosis:                       2.714   Cond. No.                     2.05e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.05e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [47]:
# Model 4: is_match_culture added

X = df[['authentity_score', 'price_class_2.5', 'price_class_4.0',
        'michelin', 
        'review_count', 'is_cul_neighborhood', 'is_match_culture']] 
y = df['food_rating']
X = sm.add_constant(X)

model4 = sm.OLS(y, X).fit()

print_model = model4.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:            food_rating   R-squared:                       0.093
Model:                            OLS   Adj. R-squared:                  0.074
Method:                 Least Squares   F-statistic:                     4.969
Date:                Tue, 08 Mar 2022   Prob (F-statistic):           2.27e-05
Time:                        18:05:27   Log-Likelihood:                -98.873
No. Observations:                 349   AIC:                             213.7
Df Residuals:                     341   BIC:                             244.6
Df Model:                           7
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                   3.8099      0.193     19.720      0.000       3.430       4.190
authentity_score        0.0062      0.003      2.079      0.038       0.000       0.012
price_class_2.5        -0.1519      0.049     -3.098      0.002      -0.248      -0.055
price_class_4.0        -0.2941      0.104     -2.833      0.005      -0.498      -0.090
michelin               -0.0286      0.069     -0.417      0.677      -0.164       0.107
review_count          9.67e-05      0.000      0.712      0.477      -0.000       0.000
is_cul_neighborhood     0.1166      0.039      3.019      0.003       0.041       0.193
is_match_culture       -0.0805      0.067     -1.208      0.228      -0.212       0.051
==============================================================================
Omnibus:                        2.399   Durbin-Watson:                   1.842
Prob(Omnibus):                  0.301   Jarque-Bera (JB):                2.282
Skew:                          -0.131   Prob(JB):                        0.320
Kurtosis:                       2.703   Cond. No.                     2.07e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.07e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [49]:
# Create a regression table
dfoutput = summary_col([model1,model2,model3,model4],stars=True, regressor_order=['authentity_score', 'michelin',
                                                                                 'price_class_2.5', 'price_class_4.0',
                                                                                 'review_count', 'is_cul_neighborhood',
                                                                                 'is_match_culture'])
print(dfoutput)

=================================================================================
                    food_rating I food_rating II food_rating III food_rating IIII
---------------------------------------------------------------------------------
authentity_score    0.0094***     0.0076***      0.0057*         0.0062**
                    (0.0029)      (0.0029)       (0.0030)        (0.0030)
michelin                          0.0011         -0.0294         -0.0286
                                  (0.0685)       (0.0687)        (0.0687)
price_class_2.5                   -0.1568***     -0.1508***      -0.1519***
                                  (0.0495)       (0.0491)        (0.0491)
price_class_4.0                   -0.3129***     -0.2879***      -0.2941***
                                  (0.1044)       (0.1038)        (0.1038)
review_count                      0.0000         0.0001          0.0001
                                  (0.0001)       (0.0001)        (0.0001)
is_cul_neighborhood                              0.1029***       0.1166***
                                                 (0.0369)        (0.0386)
is_match_culture                                                 -0.0805
                                                                 (0.0667)
const               3.5342***     3.7816***      3.8411***       3.8099***
                    (0.1815)      (0.1923)       (0.1916)        (0.1932)
R-squared           0.0292        0.0680         0.0887          0.0926
R-squared Adj.      0.0264        0.0544         0.0727          0.0739
=================================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

Do authentic restaurants get higher food ratings?

Yes, all models show that authenticity score is significantly correlated with food rating. Similar to previous results, locating in a cultural neighborhood is positively associated with food rating. Serving culturally match cuisine does not increase food rating.

# Regression (3) - DV: authentity_score
## avg_rating is controlled

In [5]:
# Import the TripAdvisor file
df = pd.read_csv('reg.csv')

In [6]:
# Drop missing values (673 rows)
df= df.dropna(subset=['avg_rating', 'authentity_score',  
                     'michelin', 'review_count','is_cul_neighborhood',
                     'is_match_culture'])

df = df.reset_index(drop=True)

# Change the type of variables to a suitable type (e.g., object to integer)
df['avg_rating'] = pd.to_numeric(df['avg_rating'],errors='coerce')
df['review_count'] = pd.to_numeric(df['review_count'],errors='coerce')

df.head()

,restaurant_name,link,price_range,category,michelin,ranking,avg_rating,food_rating,service_rating,value_rating,...,authentity_score,review,word_count,culture_word_count,culture_score,is_cul_neighborhood,is_match_culture,catergory_num,price_class_2.5,price_class_4.0
0,Bryn Mawr Breakfast Club,https://www.tripadvisor.com/Restaurant_Review-...,[],"['american', 'cafe', 'vegetarian friendly']",0,363,4,NaN,NaN,NaN,...,59.025974,"{'for': 93, 'pair': 2, 'of': 160, 'year': 6, '...",9631,2,0.000208,0,0,3,1,0
1,Tre Kronor,https://www.tripadvisor.com/Restaurant_Review-...,[],"['european', 'swedish', 'scandinavian']",0,19,4,4.5,4.5,4.5,...,65.488372,"{'being': 11, 'swedish': 115, 'came': 12, 'to'...",11486,146,0.012711,0,0,3,1,0
2,Via Veneto Ristorante,https://www.tripadvisor.com/Restaurant_Review-...,"[30, 30]","['italian', 'vegetarian friendly']",0,195,4,4.5,5.0,4.5,...,66.220000,"{'via': 31, 'veneto': 31, 'ristorante': 6, 'ha...",3934,38,0.009659,0,0,2,1,0
3,Hoanh Long Vietnamese & Chinese Restaurant,https://www.tripadvisor.com/Restaurant_Review-...,[],"['chinese', 'asian', 'vietnamese']",0,53,4,4.5,4.0,4.5,...,63.533333,"{'choose': 2, 'the': 112, 'hot': 5, 'pot': 3, ...",1818,19,0.010451,0,0,3,0,0
4,Martino's,https://www.tripadvisor.com/Restaurant_Review-...,[],"['italian', 'pizza', 'vegetarian friendly']",0,1,4,NaN,NaN,NaN,...,68.312500,"{'we': 51, 'like': 15, 'to': 50, 'come': 3, 'm...",2378,16,0.006728,0,0,3,1,0

In [52]:
# Model 1: add control variables

X = df[['price_class_2.5', 'price_class_4.0', 'michelin', 
        'review_count', 'avg_rating']] 
y = df['authentity_score']
X = sm.add_constant(X)

model1 = sm.OLS(y, X).fit()

print_model = model1.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:       authentity_score   R-squared:                       0.037
Model:                            OLS   Adj. R-squared:                  0.030
Method:                 Least Squares   F-statistic:                     5.173
Date:                Tue, 08 Mar 2022   Prob (F-statistic):           0.000115
Time:                        18:06:35   Log-Likelihood:                -2261.7
No. Observations:                 673   AIC:                             4535.
Df Residuals:                     667   BIC:                             4562.
Df Model:                           5
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              60.9781      3.295     18.506      0.000      54.508      67.448
price_class_2.5    -2.7527      0.655     -4.202      0.000      -4.039      -1.467
price_class_4.0    -5.1917      1.482     -3.503      0.000      -8.102      -2.282
michelin           -0.5713      1.025     -0.557      0.577      -2.584       1.441
review_count        0.0055      0.003      2.178      0.030       0.001       0.010
avg_rating          0.5120      0.821      0.624      0.533      -1.100       2.125
==============================================================================
Omnibus:                      181.363   Durbin-Watson:                   2.028
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2358.575
Skew:                          -0.813   Prob(JB):                         0.00
Kurtosis:                      12.026   Cond. No.                     1.71e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.71e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [53]:
# Model 2: is_cul_neighborhood included

X = df[['price_class_2.5', 'price_class_4.0', 'michelin', 
        'review_count', 'avg_rating',
       'is_cul_neighborhood']] 
y = df['authentity_score']
X = sm.add_constant(X)

model2 = sm.OLS(y, X).fit()

print_model = model2.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:       authentity_score   R-squared:                       0.059
Model:                            OLS   Adj. R-squared:                  0.050
Method:                 Least Squares   F-statistic:                     6.924
Date:                Tue, 08 Mar 2022   Prob (F-statistic):           3.76e-07
Time:                        18:06:38   Log-Likelihood:                -2254.1
No. Observations:                 673   AIC:                             4522.
Df Residuals:                     666   BIC:                             4554.
Df Model:                           6
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                  60.8652      3.261     18.666      0.000      54.463      67.268
price_class_2.5        -2.6002      0.649     -4.004      0.000      -3.875      -1.325
price_class_4.0        -4.5597      1.476     -3.090      0.002      -7.457      -1.662
michelin               -1.0444      1.022     -1.022      0.307      -3.050       0.961
review_count            0.0069      0.003      2.713      0.007       0.002       0.012
avg_rating              0.2491      0.815      0.305      0.760      -1.352       1.850
is_cul_neighborhood     2.1418      0.551      3.890      0.000       1.061       3.223
==============================================================================
Omnibus:                      206.188   Durbin-Watson:                   2.063
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2942.360
Skew:                          -0.953   Prob(JB):                         0.00
Kurtosis:                      13.065   Cond. No.                     1.71e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.71e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [54]:
# Model 3: is_match_culture included

X = df[['price_class_2.5', 'price_class_4.0', 'michelin', 
        'review_count', 'avg_rating',
       'is_cul_neighborhood', 'is_match_culture']] 
y = df['authentity_score']
X = sm.add_constant(X)

model3 = sm.OLS(y, X).fit()

print_model = model3.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:       authentity_score   R-squared:                       0.091
Model:                            OLS   Adj. R-squared:                  0.081
Method:                 Least Squares   F-statistic:                     9.513
Date:                Tue, 08 Mar 2022   Prob (F-statistic):           2.74e-11
Time:                        18:06:39   Log-Likelihood:                -2242.3
No. Observations:                 673   AIC:                             4501.
Df Residuals:                     665   BIC:                             4537.
Df Model:                           7
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                  60.6759      3.207     18.920      0.000      54.379      66.973
price_class_2.5        -2.3648      0.640     -3.692      0.000      -3.622      -1.107
price_class_4.0        -4.0170      1.455     -2.760      0.006      -6.875      -1.159
michelin               -1.1875      1.005     -1.182      0.238      -3.161       0.786
review_count            0.0064      0.002      2.563      0.011       0.001       0.011
avg_rating              0.2587      0.802      0.323      0.747      -1.316       1.833
is_cul_neighborhood     1.2139      0.574      2.114      0.035       0.087       2.341
is_match_culture        4.8667      1.001      4.862      0.000       2.901       6.832
==============================================================================
Omnibus:                      208.598   Durbin-Watson:                   2.128
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3051.783
Skew:                          -0.961   Prob(JB):                         0.00
Kurtosis:                      13.254   Cond. No.                     1.71e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.71e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [56]:
# Create a regression table
dfoutput = summary_col([model1,model2,model3],stars=True, regressor_order=['avg_rating', 'michelin',
                                                                                 'price_class_2.5', 'price_class_4.0',
                                                                                 'review_count', 'is_cul_neighborhood',
                                                                                 'is_match_culture'])
print(dfoutput)

===============================================================================
                    authentity_score I authentity_score II authentity_score III
-------------------------------------------------------------------------------
avg_rating          0.5120             0.2491              0.2587
                    (0.8212)           (0.8155)            (0.8020)
michelin            -0.5713            -1.0444             -1.1875
                    (1.0250)           (1.0215)            (1.0050)
price_class_2.5     -2.7527***         -2.6002***          -2.3648***
                    (0.6551)           (0.6494)            (0.6405)
price_class_4.0     -5.1917***         -4.5597***          -4.0170***
                    (1.4820)           (1.4755)            (1.4553)
review_count        0.0055**           0.0069***           0.0064**
                    (0.0025)           (0.0025)            (0.0025)
is_cul_neighborhood                    2.1418***           1.2139**
                                       (0.5505)            (0.5741)
is_match_culture                                           4.8667***
                                                           (1.0010)
const               60.9781***         60.8652***          60.6759***
                    (3.2950)           (3.2608)            (3.2070)
R-squared           0.0373             0.0587              0.0910
R-squared Adj.      0.0301             0.0502              0.0815
===============================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

The results show that whether the restaurant is located in a cultural neighborhood and whether the culture matches with restaurant cuisine type are positively correlated with authenticity score.
Intuitively, people generally perceive that Chinese cuisines in Chinatown are more authentic than other Chinese restaurants in other neighborhoods.

# Analysis for Zomato

# Regression (1) - DV: authentity_score

In [37]:
# Import the Zomato file for regression analysis
df = pd.read_csv('zomato_combined_data.csv') # 500 rows

# Create a dummy variable: is_cul_neighborhood
df['is_cul_neighborhood'] = df['cultural_neighborhood']!='None'
df["is_cul_neighborhood"] = df["is_cul_neighborhood"].astype(int)

# Create a dummy variable: is_match_culture
df["category"] = df["category"].str.lower()
df['is_match_culture'] = df.apply(lambda x: x.cultural_neighborhood in x.category, axis=1)
df["is_match_culture"] = df["is_match_culture"].astype(int)

In [39]:
# Export the Zomato file 
df.to_csv('z_reg.csv', index=False)

In [9]:
# Import the Zomato file 
df = pd.read_csv('z_reg.csv')
df.head()

,trip_res_name,restaurant_name_x,link,avg_rating,category,avgerage_cost,review_count,location,cultural_neighborhood,review,word_count,culture_word_count,culture_score,authentity_score,is_cul_neighborhood,is_match_culture
0,Chez Joel,Chez Joel,https://www.zomato.com/chicago/chez-joel-unive...,3.9,['french'],40.0,33,1119 W. Taylor Street 60607,italian,"{'we': 4, 'dine': 1, 'at': 1, 'chez': 2, 'joel...",263.0,2,0.007605,71.666667,1,0
1,The Rosebud,The Rosebud,https://www.zomato.com/chicago/the-rosebud-uni...,4.1,['italian'],37.5,83,"1500 W. Taylor Street, Chicago 60607",italian,"{'we': 23, 'went': 2, 'there': 7, 'for': 12, '...",1124.0,18,0.016014,55.727273,1,1
2,Tufanos Vernon Park Tap,Tufano's Vernon Park Tap,https://www.zomato.com/chicago/tufanos-vernon-...,4.2,['italian'],20.0,119,"1073 W Vernon Park Plaza, Chicago 60607",italian,"{'this': 8, 'is': 22, 'the': 47, 'kind': 1, 'o...",722.0,14,0.019391,64.750000,1,1
3,Sweet Maple Cafe,Sweet Maple Cafe,https://www.zomato.com/chicago/sweet-maple-caf...,4.4,['american'],15.0,108,"1339 W. Taylor Street, Chicago 60607",italian,"{'the': 28, 'staff': 4, 'and': 17, 'manager': ...",509.0,0,0.000000,0.000000,1,0
4,Mario's Italian Lemonade,Mario's Italian Lemonade,https://www.zomato.com/chicago/marios-italian-...,4.0,['desserts'],2.5,42,1068 W. Taylor Street 60607,italian,"{'september': 2, 'really': 1, 'snuck': 1, 'up'...",433.0,0,0.000000,64.571429,1,0

In [59]:
# Model 1: baseline model - authentity_score and avg_rating

X = df[['authentity_score']] 
y = df['avg_rating']
X = sm.add_constant(X)

model1 = sm.OLS(y, X).fit()

print_model = model1.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:             avg_rating   R-squared:                       0.056
Model:                            OLS   Adj. R-squared:                  0.054
Method:                 Least Squares   F-statistic:                     29.41
Date:                Tue, 08 Mar 2022   Prob (F-statistic):           9.15e-08
Time:                        18:07:23   Log-Likelihood:                -317.79
No. Observations:                 501   AIC:                             639.6
Df Residuals:                     499   BIC:                             648.0
Df Model:                           1
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const                3.4795      0.044     79.216      0.000       3.393       3.566
authentity_score     0.0043      0.001      5.423      0.000       0.003       0.006
==============================================================================
Omnibus:                       31.790   Durbin-Watson:                   1.746
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               36.085
Skew:                          -0.628   Prob(JB):                     1.46e-08
Kurtosis:                       3.386   Cond. No.                         119.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [60]:
# Model 2: baseline model + control variables

X = df[['authentity_score', 'avgerage_cost', 
        'review_count']] 
y = df['avg_rating']
X = sm.add_constant(X)

model2 = sm.OLS(y, X).fit()

print_model = model2.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:             avg_rating   R-squared:                       0.306
Model:                            OLS   Adj. R-squared:                  0.302
Method:                 Least Squares   F-statistic:                     72.94
Date:                Tue, 08 Mar 2022   Prob (F-statistic):           4.18e-39
Time:                        18:07:23   Log-Likelihood:                -240.74
No. Observations:                 501   AIC:                             489.5
Df Residuals:                     497   BIC:                             506.3
Df Model:                           3
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const                3.3789      0.042     80.301      0.000       3.296       3.462
authentity_score     0.0025      0.001      3.634      0.000       0.001       0.004
avgerage_cost        0.0018      0.001      1.971      0.049    6.09e-06       0.004
review_count         0.0031      0.000     12.519      0.000       0.003       0.004
==============================================================================
Omnibus:                       87.173   Durbin-Watson:                   1.857
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              137.045
Skew:                          -1.098   Prob(JB):                     1.74e-30
Kurtosis:                       4.321   Cond. No.                         231.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [61]:
# Model 3: cultural neighborhood added

X = df[['authentity_score', 
        'avgerage_cost', 'review_count',
       'is_cul_neighborhood']] 
y = df['avg_rating']
X = sm.add_constant(X)

model3 = sm.OLS(y, X).fit()

print_model = model3.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:             avg_rating   R-squared:                       0.309
Model:                            OLS   Adj. R-squared:                  0.303
Method:                 Least Squares   F-statistic:                     55.45
Date:                Tue, 08 Mar 2022   Prob (F-statistic):           1.20e-38
Time:                        18:07:24   Log-Likelihood:                -239.54
No. Observations:                 501   AIC:                             489.1
Df Residuals:                     496   BIC:                             510.2
Df Model:                           4
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                   3.3502      0.046     72.904      0.000       3.260       3.440
authentity_score        0.0025      0.001      3.614      0.000       0.001       0.004
avgerage_cost           0.0020      0.001      2.124      0.034       0.000       0.004
review_count            0.0031      0.000     12.553      0.000       0.003       0.004
is_cul_neighborhood     0.0545      0.035      1.544      0.123      -0.015       0.124
==============================================================================
Omnibus:                       84.719   Durbin-Watson:                   1.866
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              131.472
Skew:                          -1.077   Prob(JB):                     2.83e-29
Kurtosis:                       4.287   Cond. No.                         273.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [62]:
# Model 4: is_match_culture added

X = df[['authentity_score', 
        'avgerage_cost', 'review_count',
       'is_cul_neighborhood', 'is_match_culture']] 
y = df['avg_rating']
X = sm.add_constant(X)

model4 = sm.OLS(y, X).fit()

print_model = model4.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:             avg_rating   R-squared:                       0.309
Model:                            OLS   Adj. R-squared:                  0.302
Method:                 Least Squares   F-statistic:                     44.27
Date:                Tue, 08 Mar 2022   Prob (F-statistic):           9.53e-38
Time:                        18:07:31   Log-Likelihood:                -239.54
No. Observations:                 501   AIC:                             491.1
Df Residuals:                     495   BIC:                             516.4
Df Model:                           5
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                   3.3502      0.046     72.824      0.000       3.260       3.441
authentity_score        0.0025      0.001      3.609      0.000       0.001       0.004
avgerage_cost           0.0020      0.001      2.121      0.034       0.000       0.004
review_count            0.0031      0.000     12.540      0.000       0.003       0.004
is_cul_neighborhood     0.0542      0.037      1.460      0.145      -0.019       0.127
is_match_culture        0.0018      0.067      0.026      0.979      -0.131       0.134
==============================================================================
Omnibus:                       84.696   Durbin-Watson:                   1.867
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              131.414
Skew:                          -1.077   Prob(JB):                     2.91e-29
Kurtosis:                       4.286   Cond. No.                         378.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [63]:
# Create a regression table 
dfoutput = summary_col([model1,model2,model3, model4],stars=True, regressor_order=['authentity_score', 'avgerage_cost',
                                                                                 'review_count', 'is_cul_neighborhood',
                                                                                 'is_match_culture'])
print(dfoutput)

=============================================================================
                    avg_rating I avg_rating II avg_rating III avg_rating IIII
-----------------------------------------------------------------------------
authentity_score    0.0043***    0.0025***     0.0025***      0.0025***
                    (0.0008)     (0.0007)      (0.0007)       (0.0007)
avgerage_cost                    0.0018**      0.0020**       0.0020**
                                 (0.0009)      (0.0009)       (0.0009)
review_count                     0.0031***     0.0031***      0.0031***
                                 (0.0002)      (0.0002)       (0.0002)
is_cul_neighborhood                            0.0545         0.0542
                                               (0.0353)       (0.0371)
is_match_culture                                              0.0018
                                                              (0.0674)
const               3.4795***    3.3789***     3.3502***      3.3502***
                    (0.0439)     (0.0421)      (0.0460)       (0.0460)
R-squared           0.0557       0.3057        0.3090         0.3090
R-squared Adj.      0.0538       0.3015        0.3034         0.3020
=============================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

Do authentic restaurants get higher ratings?
Yes, as displayed in all models, restaurants with higher authenticity scores tend to have higher average ratings. However, the location of the restaurant and the cusine type served have less explanatory power to the restaurant average ratings.

# Regression (2) - DV : authentity_score

In [64]:
# Model 1: control variables included

X = df[['avgerage_cost',  
        'review_count', 'avg_rating']] 
y = df['authentity_score']
X = sm.add_constant(X)

model1 = sm.OLS(y, X).fit()

print_model = model1.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:       authentity_score   R-squared:                       0.062
Model:                            OLS   Adj. R-squared:                  0.056
Method:                 Least Squares   F-statistic:                     10.92
Date:                Tue, 08 Mar 2022   Prob (F-statistic):           5.89e-07
Time:                        18:08:26   Log-Likelihood:                -2320.9
No. Observations:                 501   AIC:                             4650.
Df Residuals:                     497   BIC:                             4667.
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const             9.6901      9.988      0.970      0.332      -9.934      29.315
avgerage_cost    -0.0036      0.059     -0.061      0.952      -0.119       0.112
review_count      0.0323      0.018      1.799      0.073      -0.003       0.068
avg_rating       10.2251      2.814      3.634      0.000       4.697      15.754
==============================================================================
Omnibus:                       45.074   Durbin-Watson:                   1.954
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               55.694
Skew:                          -0.811   Prob(JB):                     8.06e-13
Kurtosis:                       2.812   Cond. No.                         831.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [65]:
# Model 2: is_cul_neighborhood included

X = df[['avgerage_cost',  
        'review_count', 'avg_rating', 'is_cul_neighborhood']] 
y = df['authentity_score']
X = sm.add_constant(X)

model2 = sm.OLS(y, X).fit()

print_model = model2.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:       authentity_score   R-squared:                       0.062
Model:                            OLS   Adj. R-squared:                  0.054
Method:                 Least Squares   F-statistic:                     8.176
Date:                Tue, 08 Mar 2022   Prob (F-statistic):           2.17e-06
Time:                        18:08:29   Log-Likelihood:                -2320.9
No. Observations:                 501   AIC:                             4652.
Df Residuals:                     496   BIC:                             4673.
Df Model:                           4
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                   9.6349     10.012      0.962      0.336     -10.036      29.306
avgerage_cost          -0.0029      0.059     -0.049      0.961      -0.119       0.114
review_count            0.0324      0.018      1.800      0.072      -0.003       0.068
avg_rating             10.2039      2.824      3.614      0.000       4.656      15.752
is_cul_neighborhood     0.2390      2.254      0.106      0.916      -4.191       4.668
==============================================================================
Omnibus:                       45.045   Durbin-Watson:                   1.954
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               55.656
Skew:                          -0.811   Prob(JB):                     8.21e-13
Kurtosis:                       2.813   Cond. No.                         831.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [66]:
# Model 3: is_match_culture included

X = df[['avgerage_cost',  
        'review_count', 'avg_rating', 'is_cul_neighborhood',
       'is_match_culture']] 
y = df['authentity_score']
X = sm.add_constant(X)

model3 = sm.OLS(y, X).fit()

print_model = model3.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:       authentity_score   R-squared:                       0.062
Model:                            OLS   Adj. R-squared:                  0.053
Method:                 Least Squares   F-statistic:                     6.549
Date:                Tue, 08 Mar 2022   Prob (F-statistic):           6.50e-06
Time:                        18:08:59   Log-Likelihood:                -2320.8
No. Observations:                 501   AIC:                             4654.
Df Residuals:                     495   BIC:                             4679.
Df Model:                           5
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                   9.6251     10.021      0.960      0.337     -10.064      29.314
avgerage_cost          -0.0021      0.059     -0.035      0.972      -0.119       0.115
review_count            0.0325      0.018      1.801      0.072      -0.003       0.068
avg_rating             10.2008      2.826      3.609      0.000       4.648      15.754
is_cul_neighborhood     0.0101      2.370      0.004      0.997      -4.647       4.667
is_match_culture        1.3555      4.296      0.315      0.753      -7.086       9.797
==============================================================================
Omnibus:                       45.456   Durbin-Watson:                   1.954
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               56.290
Skew:                          -0.816   Prob(JB):                     5.98e-13
Kurtosis:                       2.813   Cond. No.                         831.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [68]:
# Create a regression table
dfoutput = summary_col([model1,model2,model3],stars=True, regressor_order=['avg_rating', 'avgerage_cost',
                                                                                 'review_count', 'is_cul_neighborhood',
                                                                                 'is_match_culture'])
print(dfoutput)

===============================================================================
                    authentity_score I authentity_score II authentity_score III
-------------------------------------------------------------------------------
avg_rating          10.2251***         10.2039***          10.2008***
                    (2.8139)           (2.8238)            (2.8264)
avgerage_cost       -0.0036            -0.0029             -0.0021
                    (0.0588)           (0.0593)            (0.0594)
review_count        0.0323*            0.0324*             0.0325*
                    (0.0180)           (0.0180)            (0.0180)
is_cul_neighborhood                    0.2390              0.0101
                                       (2.2545)            (2.3703)
is_match_culture                                           1.3555
                                                           (4.2964)
const               9.6901             9.6349              9.6251
                    (9.9883)           (10.0119)           (10.0210)
R-squared           0.0618             0.0619              0.0620
R-squared Adj.      0.0562             0.0543              0.0526
===============================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

Restaurants with higher average rating tend to have higher authenticity score.

# Combine TripAdvisor & Zomato

In [69]:
# Import TripAdvisor data 
trip_df = pd.read_csv('reg.csv')

In [70]:
# Import Zomato data 
df = pd.read_csv('z_reg.csv')

In [71]:
# Combine TripAdvisor and Zomato by name 
com_df = pd.merge(trip_df,df[['trip_res_name','word_count', 'culture_word_count', 'culture_score', 'authentity_score', 'review_count', 'avg_rating']],left_on = 'restaurant_name', right_on='trip_res_name', how='left')
com_df.head()

,restaurant_name,link,price_range,category,michelin,ranking,avg_rating_x,food_rating,service_rating,value_rating,...,catergory_num,price_class_2.5,price_class_4.0,trip_res_name,word_count_y,culture_word_count_y,culture_score_y,authentity_score_y,review_count_y,avg_rating_y
0,Bryn Mawr Breakfast Club,https://www.tripadvisor.com/Restaurant_Review-...,[],"['american', 'cafe', 'vegetarian friendly']",0,363,4,NaN,NaN,NaN,...,3,1,0,Bryn Mawr Breakfast Club,283.0,0.0,0.000000,0.000000,8.0,3.4
1,Tre Kronor,https://www.tripadvisor.com/Restaurant_Review-...,[],"['european', 'swedish', 'scandinavian']",0,19,4,4.5,4.5,4.5,...,3,1,0,Tre Kronor,1143.0,17.0,0.014873,64.428571,115.0,4.5
2,Via Veneto Ristorante,https://www.tripadvisor.com/Restaurant_Review-...,"[30, 30]","['italian', 'vegetarian friendly']",0,195,4,4.5,5.0,4.5,...,2,1,0,Via Veneto Ristorante,113.0,3.0,0.026549,91.500000,15.0,3.3
3,Hoanh Long Vietnamese & Chinese Restaurant,https://www.tripadvisor.com/Restaurant_Review-...,[],"['chinese', 'asian', 'vietnamese']",0,53,4,4.5,4.0,4.5,...,3,0,0,Hoanh Long Vietnamese & Chinese Restaurant,462.0,5.0,0.010823,70.285714,15.0,3.9
4,Martino's,https://www.tripadvisor.com/Restaurant_Review-...,[],"['italian', 'pizza', 'vegetarian friendly']",0,1,4,NaN,NaN,NaN,...,3,1,0,Martino's,14.0,0.0,0.000000,0.000000,6.0,3.8

In [72]:
# Create combined_culture_score 
com_df['combined_culture_score'] = (com_df['culture_word_count_x'] + com_df['culture_word_count_y'])/ \
                                    (com_df['word_count_x'] + com_df['word_count_y'])
com_df['combined_culture_score'] = com_df['combined_culture_score'].fillna(com_df['culture_score_x'])

In [73]:
# Create combined_authentity_score
com_df['combined_authentity_score'] = com_df['authentity_score_x'] * com_df['word_count_x'] / (com_df['word_count_x'] + com_df['word_count_y']) +\
                                       com_df['authentity_score_y'] * com_df['word_count_y'] / (com_df['word_count_x'] + com_df['word_count_y'])
com_df['combined_authentity_score'] = com_df['combined_authentity_score'].fillna(com_df['authentity_score_x'])

In [74]:
# Create combined_review_count
com_df['review_count_x'] = pd.to_numeric(com_df['review_count_x'], errors='coerce')
com_df['combined_review_count'] = com_df['review_count_x'] + com_df['review_count_y']
com_df['combined_review_count'] = com_df['combined_review_count'].fillna(com_df['review_count_x'])

In [75]:
# Create combined_review_count
com_df['combined_avg_rating']= (com_df['avg_rating_x'] * com_df['review_count_x'] / (com_df['review_count_x'] + com_df['review_count_y']) +\
                                 com_df['avg_rating_y'] * com_df['review_count_y'] / (com_df['word_count_x'] + com_df['word_count_y']))
com_df['combined_avg_rating'] = com_df['combined_avg_rating'].fillna(com_df['avg_rating_x'])

In [76]:
# Drop missing values (672 rows)
com_df= com_df.dropna(subset=['combined_avg_rating', 'combined_authentity_score', 
                    'combined_culture_score', 
                     'michelin', 'combined_review_count','is_cul_neighborhood',
                     'is_match_culture', 'catergory_num'])

com_df = com_df.reset_index(drop=True)

# Change the type of variables to a suitable type (e.g., object to integer)
com_df['ranking'] = pd.to_numeric(com_df['ranking'],errors='coerce')
com_df['food_rating'] = pd.to_numeric(com_df['atmosphere_rating'],errors='coerce')
com_df

,restaurant_name,link,price_range,category,michelin,ranking,avg_rating_x,food_rating,service_rating,value_rating,...,word_count_y,culture_word_count_y,culture_score_y,authentity_score_y,review_count_y,avg_rating_y,combined_culture_score,combined_authentity_score,combined_review_count,combined_avg_rating
0,Bryn Mawr Breakfast Club,https://www.tripadvisor.com/Restaurant_Review-...,[],"['american', 'cafe', 'vegetarian friendly']",0,363,4,NaN,NaN,NaN,...,283.0,0.0,0.000000,0.000000,8.0,3.4,0.000202,57.341049,75.0,3.576077
1,Tre Kronor,https://www.tripadvisor.com/Restaurant_Review-...,[],"['european', 'swedish', 'scandinavian']",0,19,4,4.5,4.5,4.5,...,1143.0,17.0,0.014873,64.428571,115.0,4.5,0.012907,65.392454,257.0,2.251094
2,Via Veneto Ristorante,https://www.tripadvisor.com/Restaurant_Review-...,"[30, 30]","['italian', 'vegetarian friendly']",0,195,4,4.5,5.0,4.5,...,113.0,3.0,0.026549,91.500000,15.0,3.3,0.010131,66.925866,62.0,3.044489
3,Hoanh Long Vietnamese & Chinese Restaurant,https://www.tripadvisor.com/Restaurant_Review-...,[],"['chinese', 'asian', 'vietnamese']",0,53,4,4.5,4.0,4.5,...,462.0,5.0,0.010823,70.285714,15.0,3.9,0.010526,64.901579,37.0,2.404036
4,Martino's,https://www.tripadvisor.com/Restaurant_Review-...,[],"['italian', 'pizza', 'vegetarian friendly']",0,1,4,NaN,NaN,NaN,...,14.0,0.0,0.000000,0.000000,6.0,3.8,0.006689,67.912678,26.0,3.086455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,Simone's,https://www.tripadvisor.com/Restaurant_Review-...,"[5, 15]","['bar', 'international']",0,1,4,4.0,4.5,4.0,...,244.0,0.0,0.000000,56.000000,46.0,3.8,0.000000,55.312556,66.0,1.326594
669,Los Comales of 18th Street,https://www.tripadvisor.com/Restaurant_Review-...,[],"['mexican', 'spanish']",0,114,4,NaN,NaN,NaN,...,271.0,3.0,0.011070,0.000000,19.0,3.8,0.010791,66.817986,40.0,2.151942
670,Taqueria Casa Del Pueblo,https://www.tripadvisor.com/Restaurant_Review-...,[],"['mexican', 'latin', 'spanish']",0,131,4,NaN,NaN,NaN,...,198.0,0.0,0.000000,0.000000,14.0,2.9,0.009836,76.955107,33.0,2.313270
671,May St. Cafe,https://www.tripadvisor.com/Restaurant_Review-...,"[20, 40]","['latin', 'spanish']",0,119,4,4.0,4.0,4.0,...,176.0,0.0,0.000000,55.333333,25.0,3.4,0.002976,60.575964,44.0,1.763412
672,La Vaca Margarita Bar,https://www.tripadvisor.com/Restaurant_Review-...,[],"['mexican', 'bar', 'pub']",0,361,3,NaN,NaN,NaN,...,250.0,0.0,0.000000,53.000000,7.0,2.9,0.004259,69.679160,23.0,2.095602

# Regression (1) - DV : combined_avg_rating

In [77]:
# Model 1: Baseline model - combined_authentity_score and combined_avg_rating
X = com_df[['combined_authentity_score']] 
y = com_df['combined_avg_rating']
X = sm.add_constant(X)

model1 = sm.OLS(y, X).fit()

print_model = model1.summary()
print(print_model)

                             OLS Regression Results
===============================================================================
Dep. Variable:     combined_avg_rating   R-squared:                       0.000
Model:                             OLS   Adj. R-squared:                 -0.001
Method:                  Least Squares   F-statistic:                    0.1398
Date:                 Tue, 08 Mar 2022   Prob (F-statistic):              0.709
Time:                         18:10:25   Log-Likelihood:                -881.04
No. Observations:                  673   AIC:                             1766.
Df Residuals:                      671   BIC:                             1775.
Df Model:                            1
Covariance Type:             nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                         3.1427      0.298     10.562      0.000       2.558       3.727
combined_authentity_score    -0.0018      0.005     -0.374      0.709      -0.011       0.008
==============================================================================
Omnibus:                       30.922   Durbin-Watson:                   1.757
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               20.474
Skew:                          -0.302   Prob(JB):                     3.58e-05
Kurtosis:                       2.395   Cond. No.                         524.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [78]:
# Model 2: authenticity score + control variables

X = com_df[['combined_authentity_score', 'price_class_2.5','price_class_4.0', 'michelin', 
        'combined_review_count']] 
y = com_df['combined_avg_rating']
X = sm.add_constant(X)

model2 = sm.OLS(y, X).fit()

print_model = model2.summary()
print(print_model)

                             OLS Regression Results
===============================================================================
Dep. Variable:     combined_avg_rating   R-squared:                       0.086
Model:                             OLS   Adj. R-squared:                  0.079
Method:                  Least Squares   F-statistic:                     12.55
Date:                 Tue, 08 Mar 2022   Prob (F-statistic):           1.15e-11
Time:                         18:10:29   Log-Likelihood:                -850.86
No. Observations:                  673   AIC:                             1714.
Df Residuals:                      667   BIC:                             1741.
Df Model:                            5
Covariance Type:             nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                         2.6968      0.305      8.840      0.000       2.098       3.296
combined_authentity_score     0.0036      0.005      0.756      0.450      -0.006       0.013
price_class_2.5               0.2558      0.081      3.149      0.002       0.096       0.415
price_class_4.0               0.4983      0.182      2.734      0.006       0.140       0.856
michelin                      0.5375      0.125      4.310      0.000       0.293       0.782
combined_review_count        -0.0012      0.000     -5.983      0.000      -0.002      -0.001
==============================================================================
Omnibus:                       25.884   Durbin-Watson:                   1.687
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               22.415
Skew:                          -0.378   Prob(JB):                     1.36e-05
Kurtosis:                       2.522   Cond. No.                     1.89e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.89e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [80]:
# Model 3: cultural neighborhood added

X = com_df[['combined_authentity_score', 
        'price_class_2.5','price_class_4.0', 'michelin', 'combined_review_count',
       'is_cul_neighborhood']] 
y = com_df['combined_avg_rating']
X = sm.add_constant(X)

model3 = sm.OLS(y, X).fit()

print_model = model3.summary()
print(print_model)

                             OLS Regression Results
===============================================================================
Dep. Variable:     combined_avg_rating   R-squared:                       0.099
Model:                             OLS   Adj. R-squared:                  0.091
Method:                  Least Squares   F-statistic:                     12.16
Date:                 Tue, 08 Mar 2022   Prob (F-statistic):           5.34e-13
Time:                         18:10:30   Log-Likelihood:                -846.14
No. Observations:                  673   AIC:                             1706.
Df Residuals:                      666   BIC:                             1738.
Df Model:                            6
Covariance Type:             nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                         2.6887      0.303      8.868      0.000       2.093       3.284
combined_authentity_score     0.0055      0.005      1.156      0.248      -0.004       0.015
price_class_2.5               0.2437      0.081      3.015      0.003       0.085       0.402
price_class_4.0               0.4418      0.182      2.427      0.015       0.084       0.799
michelin                      0.5842      0.125      4.679      0.000       0.339       0.829
combined_review_count        -0.0013      0.000     -6.335      0.000      -0.002      -0.001
is_cul_neighborhood          -0.2087      0.068     -3.067      0.002      -0.342      -0.075
==============================================================================
Omnibus:                       20.030   Durbin-Watson:                   1.704
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               18.759
Skew:                          -0.360   Prob(JB):                     8.44e-05
Kurtosis:                       2.611   Cond. No.                     1.89e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.89e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [81]:
# Model 4: is_match_culture added

X = com_df[['combined_authentity_score', 
        'price_class_2.5','price_class_4.0', 'michelin', 'combined_review_count',
       'is_cul_neighborhood', 'is_match_culture']] 
y = com_df['combined_avg_rating']
X = sm.add_constant(X)

model4 = sm.OLS(y, X).fit()

print_model = model4.summary()
print(print_model)

                             OLS Regression Results
===============================================================================
Dep. Variable:     combined_avg_rating   R-squared:                       0.103
Model:                             OLS   Adj. R-squared:                  0.094
Method:                  Least Squares   F-statistic:                     10.94
Date:                 Tue, 08 Mar 2022   Prob (F-statistic):           4.09e-13
Time:                         18:10:30   Log-Likelihood:                -844.44
No. Observations:                  673   AIC:                             1705.
Df Residuals:                      665   BIC:                             1741.
Df Model:                            7
Covariance Type:             nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                         2.7823      0.307      9.065      0.000       2.180       3.385
combined_authentity_score     0.0039      0.005      0.796      0.426      -0.006       0.013
price_class_2.5               0.2502      0.081      3.098      0.002       0.092       0.409
price_class_4.0               0.4593      0.182      2.524      0.012       0.102       0.817
michelin                      0.5757      0.125      4.616      0.000       0.331       0.821
combined_review_count        -0.0013      0.000     -6.339      0.000      -0.002      -0.001
is_cul_neighborhood          -0.2498      0.072     -3.493      0.001      -0.390      -0.109
is_match_culture              0.2341      0.128      1.835      0.067      -0.016       0.485
==============================================================================
Omnibus:                       19.236   Durbin-Watson:                   1.708
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.886
Skew:                          -0.349   Prob(JB):                     0.000131
Kurtosis:                       2.611   Cond. No.                     1.92e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.92e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [84]:
# Create a regression table
dfoutput = summary_col([model1,model2,model3,model4],stars=True, regressor_order=['combined_authentity_score', 'michelin',
                                                                                 'price_class_2.5', 'price_class_4.0',
                                                                                 'combined_review_count', 'is_cul_neighborhood',
                                                                                 'is_match_culture'])
print(dfoutput)

=======================================================================================================================
                          combined_avg_rating I combined_avg_rating II combined_avg_rating III combined_avg_rating IIII
-----------------------------------------------------------------------------------------------------------------------
combined_authentity_score -0.0018               0.0036                 0.0055                  0.0039
                          (0.0049)              (0.0048)               (0.0048)                (0.0049)
michelin                                        0.5375***              0.5842***               0.5757***
                                                (0.1247)               (0.1249)                (0.1247)
price_class_2.5                                 0.2558***              0.2437***               0.2502***
                                                (0.0812)               (0.0808)                (0.0808)
price_class_4.0                                 0.4983***              0.4418**                0.4593**
                                                (0.1822)               (0.1820)                (0.1820)
combined_review_count                           -0.0012***             -0.0013***              -0.0013***
                                                (0.0002)               (0.0002)                (0.0002)
is_cul_neighborhood                                                    -0.2087***              -0.2498***
                                                                       (0.0681)                (0.0715)
is_match_culture                                                                               0.2341*
                                                                                               (0.1276)
const                     3.1427***             2.6968***              2.6887***               2.7823***
                          (0.2975)              (0.3051)               (0.3032)                (0.3069)
R-squared                 0.0002                0.0860                 0.0987                  0.1033
R-squared Adj.            -0.0013               0.0791                 0.0906                  0.0938
=======================================================================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

Results are similar to those produced from TripAdvisor data

# Regression (2) - DV : food_rating

In [85]:
# Drop missing value in food_rating
com_df= com_df.dropna(subset=['food_rating'])
com_df = com_df.reset_index(drop=True) #349 rows left
com_df

,restaurant_name,link,price_range,category,michelin,ranking,avg_rating_x,food_rating,service_rating,value_rating,...,word_count_y,culture_word_count_y,culture_score_y,authentity_score_y,review_count_y,avg_rating_y,combined_culture_score,combined_authentity_score,combined_review_count,combined_avg_rating
0,Tre Kronor,https://www.tripadvisor.com/Restaurant_Review-...,[],"['european', 'swedish', 'scandinavian']",0,19,4,4.5,4.5,4.5,...,1143.0,17.0,0.014873,64.428571,115.0,4.5,0.012907,65.392454,257.0,2.251094
1,Via Veneto Ristorante,https://www.tripadvisor.com/Restaurant_Review-...,"[30, 30]","['italian', 'vegetarian friendly']",0,195,4,4.5,5.0,4.5,...,113.0,3.0,0.026549,91.500000,15.0,3.3,0.010131,66.925866,62.0,3.044489
2,Hoanh Long Vietnamese & Chinese Restaurant,https://www.tripadvisor.com/Restaurant_Review-...,[],"['chinese', 'asian', 'vietnamese']",0,53,4,4.5,4.0,4.5,...,462.0,5.0,0.010823,70.285714,15.0,3.9,0.010526,64.901579,37.0,2.404036
3,Mee Mah,https://www.tripadvisor.com/Restaurant_Review-...,[],"['chinese', 'asian', 'cantonese']",0,1,4,4.0,4.5,4.0,...,13.0,0.0,0.000000,0.000000,6.0,3.6,0.009428,58.145977,28.0,3.156434
4,Midori Japanese Restaurant,https://www.tripadvisor.com/Restaurant_Review-...,[],"['japanese', 'sushi', 'asian']",0,91,4,4.0,4.0,4.0,...,137.0,0.0,0.000000,67.750000,17.0,2.9,0.005575,63.645095,39.0,2.277551
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,Dusek's Board & Beer,https://www.tripadvisor.com/Restaurant_Review-...,[],"['american', 'bar', 'vegetarian friendly']",1,178,4,4.0,4.5,4.0,...,1428.0,0.0,0.000000,54.888889,40.0,3.9,0.000293,58.072342,217.0,3.274106
345,Honky Tonk BBQ,https://www.tripadvisor.com/Restaurant_Review-...,[],"['american', 'bar', 'barbecue']",0,363,4,4.0,4.5,4.0,...,2120.0,0.0,0.000000,56.333333,100.0,4.1,0.000307,63.257144,196.0,2.022154
346,Taqueria El Milagro,https://www.tripadvisor.com/Restaurant_Review-...,[],"['quick bites', 'mexican', 'latin']",0,244,4,4.5,4.5,4.5,...,81.0,0.0,0.000000,0.000000,17.0,3.2,0.007001,67.882876,51.0,2.698405
347,Simone's,https://www.tripadvisor.com/Restaurant_Review-...,"[5, 15]","['bar', 'international']",0,1,4,4.0,4.5,4.0,...,244.0,0.0,0.000000,56.000000,46.0,3.8,0.000000,55.312556,66.0,1.326594
348,May St. Cafe,https://www.tripadvisor.com/Restaurant_Review-...,"[20, 40]","['latin', 'spanish']",0,119,4,4.0,4.0,4.0,...,176.0,0.0,0.000000,55.333333,25.0,3.4,0.002976,60.575964,44.0,1.763412

In [86]:
# Model 1: baseline model - combined_authentity_score and food_rating

X = com_df[['combined_authentity_score']] 
y = com_df['food_rating']
X = sm.add_constant(X)

model1 = sm.OLS(y, X).fit()

print_model = model1.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:            food_rating   R-squared:                       0.026
Model:                            OLS   Adj. R-squared:                  0.023
Method:                 Least Squares   F-statistic:                     9.174
Date:                Tue, 08 Mar 2022   Prob (F-statistic):            0.00264
Time:                        18:13:17   Log-Likelihood:                -111.27
No. Observations:                 349   AIC:                             226.5
Df Residuals:                     347   BIC:                             234.2
Df Model:                           1
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                         3.5874      0.176     20.392      0.000       3.241       3.933
combined_authentity_score     0.0087      0.003      3.029      0.003       0.003       0.014
==============================================================================
Omnibus:                        1.586   Durbin-Watson:                   1.779
Prob(Omnibus):                  0.452   Jarque-Bera (JB):                1.679
Skew:                          -0.147   Prob(JB):                        0.432
Kurtosis:                       2.831   Cond. No.                         606.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [87]:
# Model 2: control variables included

X = com_df[['combined_authentity_score', 'price_class_2.5','price_class_4.0', 'michelin', 
        'combined_review_count']] 
y = com_df['food_rating']
X = sm.add_constant(X)

model2 = sm.OLS(y, X).fit()

print_model = model2.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:            food_rating   R-squared:                       0.068
Model:                            OLS   Adj. R-squared:                  0.054
Method:                 Least Squares   F-statistic:                     5.009
Date:                Tue, 08 Mar 2022   Prob (F-statistic):           0.000192
Time:                        18:13:18   Log-Likelihood:                -103.52
No. Observations:                 349   AIC:                             219.0
Df Residuals:                     343   BIC:                             242.2
Df Model:                           5
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                         3.8148      0.184     20.700      0.000       3.452       4.177
combined_authentity_score     0.0072      0.003      2.519      0.012       0.002       0.013
price_class_2.5              -0.1622      0.049     -3.295      0.001      -0.259      -0.065
price_class_4.0              -0.3243      0.103     -3.143      0.002      -0.527      -0.121
michelin                     -0.0092      0.068     -0.135      0.892      -0.143       0.125
combined_review_count      5.174e-05   8.82e-05      0.586      0.558      -0.000       0.000
==============================================================================
Omnibus:                        2.046   Durbin-Watson:                   1.801
Prob(Omnibus):                  0.360   Jarque-Bera (JB):                2.125
Skew:                          -0.177   Prob(JB):                        0.346
Kurtosis:                       2.855   Cond. No.                     2.85e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.85e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [88]:
# Model 3: cultural neighborhood added

X = com_df[['combined_authentity_score',
        'price_class_2.5','price_class_4.0', 'michelin', 'combined_review_count',
       'is_cul_neighborhood']] 
y = com_df['food_rating']
X = sm.add_constant(X)

model3 = sm.OLS(y, X).fit()

print_model = model3.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:            food_rating   R-squared:                       0.091
Model:                            OLS   Adj. R-squared:                  0.075
Method:                 Least Squares   F-statistic:                     5.697
Date:                Tue, 08 Mar 2022   Prob (F-statistic):           1.16e-05
Time:                        18:13:18   Log-Likelihood:                -99.199
No. Observations:                 349   AIC:                             212.4
Df Residuals:                     342   BIC:                             239.4
Df Model:                           6
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                         3.8538      0.183     21.085      0.000       3.494       4.213
combined_authentity_score     0.0055      0.003      1.921      0.056      -0.000       0.011
price_class_2.5              -0.1535      0.049     -3.146      0.002      -0.249      -0.058
price_class_4.0              -0.2911      0.103     -2.836      0.005      -0.493      -0.089
michelin                     -0.0376      0.068     -0.551      0.582      -0.172       0.097
combined_review_count      9.322e-05   8.84e-05      1.054      0.293   -8.07e-05       0.000
is_cul_neighborhood           0.1067      0.036      2.930      0.004       0.035       0.178
==============================================================================
Omnibus:                        1.875   Durbin-Watson:                   1.835
Prob(Omnibus):                  0.392   Jarque-Bera (JB):                1.823
Skew:                          -0.108   Prob(JB):                        0.402
Kurtosis:                       2.720   Cond. No.                     2.86e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.86e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [89]:
# Model 4: is_match_culture added

X = com_df[['combined_authentity_score', 
        'price_class_2.5','price_class_4.0', 'michelin', 'combined_review_count',
       'is_cul_neighborhood', 'is_match_culture']] 
y = com_df['food_rating']
X = sm.add_constant(X)

model4 = sm.OLS(y, X).fit()

print_model = model4.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:            food_rating   R-squared:                       0.095
Model:                            OLS   Adj. R-squared:                  0.076
Method:                 Least Squares   F-statistic:                     5.084
Date:                Tue, 08 Mar 2022   Prob (F-statistic):           1.65e-05
Time:                        18:13:19   Log-Likelihood:                -98.499
No. Observations:                 349   AIC:                             213.0
Df Residuals:                     341   BIC:                             243.8
Df Model:                           7
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                         3.8279      0.184     20.803      0.000       3.466       4.190
combined_authentity_score     0.0060      0.003      2.059      0.040       0.000       0.012
price_class_2.5              -0.1547      0.049     -3.172      0.002      -0.251      -0.059
price_class_4.0              -0.2968      0.103     -2.889      0.004      -0.499      -0.095
michelin                     -0.0367      0.068     -0.538      0.591      -0.171       0.097
combined_review_count      9.536e-05   8.84e-05      1.079      0.281   -7.85e-05       0.000
is_cul_neighborhood           0.1200      0.038      3.147      0.002       0.045       0.195
is_match_culture             -0.0778      0.066     -1.171      0.242      -0.208       0.053
==============================================================================
Omnibus:                        2.219   Durbin-Watson:                   1.850
Prob(Omnibus):                  0.330   Jarque-Bera (JB):                2.118
Skew:                          -0.122   Prob(JB):                        0.347
Kurtosis:                       2.707   Cond. No.                     2.88e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.88e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [91]:
# Create a regression table
dfoutput = summary_col([model1,model2,model3,model4],stars=True, regressor_order=['combined_authentity_score', 'michelin',
                                                                                 'price_class_2.5', 'price_class_4.0',
                                                                                 'combined_review_count', 'is_cul_neighborhood',
                                                                                 'is_match_culture'])
print(dfoutput)

=======================================================================================
                          food_rating I food_rating II food_rating III food_rating IIII
---------------------------------------------------------------------------------------
combined_authentity_score 0.0087***     0.0072**       0.0055*         0.0060**
                          (0.0029)      (0.0028)       (0.0029)        (0.0029)
michelin                                -0.0092        -0.0376         -0.0367
                                        (0.0682)       (0.0682)        (0.0681)
price_class_2.5                         -0.1622***     -0.1535***      -0.1547***
                                        (0.0492)       (0.0488)        (0.0488)
price_class_4.0                         -0.3243***     -0.2911***      -0.2968***
                                        (0.1032)       (0.1027)        (0.1027)
combined_review_count                   0.0001         0.0001          0.0001
                                        (0.0001)       (0.0001)        (0.0001)
is_cul_neighborhood                                    0.1067***       0.1200***
                                                       (0.0364)        (0.0381)
is_match_culture                                                       -0.0778
                                                                       (0.0664)
const                     3.5874***     3.8148***      3.8538***       3.8279***
                          (0.1759)      (0.1843)       (0.1828)        (0.1840)
R-squared                 0.0258        0.0680         0.0909          0.0945
R-squared Adj.            0.0230        0.0545         0.0749          0.0759
=======================================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

Results are similar to those produced from TripAdvisor data

# Overview of the results

First, the authenticity score is positively correlated to a higher food rating. 
Authenticity score is not correlated to the average rating in TripAdvisor, but in Zomato.
One of the possible reasons is that, in TripAdvisor, the average rating is the average score for food, atmosphere, value, and service, so higher authenticity score may only be correlated to food, but not service or atmosphere. 
But in Zomato, users are only allowed to rate the average rating. It is possible that users are rating food when giving a score to the restaurant. TripAdvisorâ€™s results may provide support to this point. Thus, it is likely that authenticity score is associated with a higher food rating but not the other ratings.

Second, when the restaurant is located in a cultural neighbourhood, it tends to have a higher food rating and a higher authenticity score (even when average rating is controlled). Also, restaurants serving culturally matched cuisine tend to have a higher authenticity score. We can see that geo-cultural features are important to the restaurant food rating and authenticity score.